.flip-x {
  transition: all ease-in-out .55s;
  transform: rotateY(180deg);
}

.black {
  background-color: #34495E;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.gray {
  background-color: #2a323d;
}

.available {
  background-color: aquamarine;
}

.blocked {
  background-color: #2a323d;
}

.spot-row {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}